@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');

.container-form-login{
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: "DM Sans", sans-serif;
  }
  .logo-img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .wrapper {
    width: 450px;
    height: 586px;
    background-color: #2B2840;
    color: #fff;
    border-radius: 48px;
    padding: 50px 60px;
  }
  .form-login {
    font-size: 28px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
  }
  .title-form{
    font-size: 40px;
    font-weight: 400; 
    font-family: "DM Serif Display";
  
  }
  .input-box input {
    width:320px;
    height: 45px;
    background: white;
    border: none;
    border-radius: 10px;
    outline: none;
  }
 .label-form{
  font-size: 20px;
  font-weight: 400;
  font-family: "DM Serif Display";
 }

  .remember-forgot a {
    color: #0085FF;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  
  }
 
  .wrapper .btn {
    width: 75px;
    height: 35px;
    background: #720FBF;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;

  }

  