@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
  }
body{
    background-color:  #1A182B;
}

.container-div{
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
}

 .container-home-content{
   position: relative;
}
  
.fixed-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Example width */
  height: 100vh; /* Full viewport height */
  background-color: white; /* Or any color */
  z-index: 10; /* Ensure it's above other elements */
}

.container-home-content {
  padding-left: 250px; 
}