@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
  }
body{
    background-color:  #1A182B;
}
.container-home-content{
    margin: 59px 0 0 0;
    padding: 0;
}


/* HomeStyle.css */

/* Add this to make the sidebar and main content area stack on top of each other on small screens */
@media only screen and (max-width: 768px) {
    .container-home-content {
      flex-direction: column;
    }
    .col-3 {
      width: 100%; /* make the sidebar take up full width on small screens */
    }
    .col-9 {
      width: 100%; /* make the main content area take up full width on small screens */
    }
    .sidebar {
      display: none; /* add this to make the sidebar appear on top of the main content area */
    }
    .main-content {
      position: relative; /* add this to make the main content area relative to its parent */
      z-index: 0; /* add this to make the main content area appear below the sidebar */
    }
  }