.header {
    max-width: 90%;
    margin:auto;
    padding-block-start: 200px;
    padding-block-end: 160px;
}
.content-header{
    max-width: 80%; 
    background: rgba(217, 217, 217, 0.03);
     backdrop-filter: blur(2.5px);
}
.title-header{
    font-size: 66px;
    font-weight: 600;
}
.subt-header{
    font-size: 36px;
    font-weight: 500;
}
.btn-header{
    background-color: #720FBF;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
}
.inp{
    background-color: #ffffff;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 16px;
    height: 50px;
    width:400px;
    padding: 20px ;
}
.formx{
    display:flex;
    align-items:center;
}
